<div class="background-login login-container p-2">

  <div class="login-box" style="height: 450px;">
   <form [formGroup]="registerForm" class="p-4">
     <div class="form-group m-3">
       <label for="exampleInputEmail1">Email address</label>
       <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
     </div>
     <div class="form-group m-3">
      <label for="exampleInputUsername">UserName</label>
      <input type="text" class="form-control" formControlName="userName" id="exampleInputuserName" placeholder="userName">
    </div>
     <div class="form-group m-3">
       <label for="exampleInputPassword1">Password</label>
       <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
     </div>
     <div class="mx-3"><label class="text-primary">Terms</label></div>

     <div class="form-check mx-3">

       <input type="checkbox" class="form-check-input" id="exampleCheck1">

       <label class="form-check-label" for="exampleCheck1">Please confirm that you agree to our terms & conditions</label>
     </div>
     <div >
     <button type="button" (click)="register()" class="btn btn-primary m-3">Register</button>
     <button type="button" (click)="cancel()" class="btn btn-secondary float-right">Cancel</button>
    </div>
    </form>
  </div>

 </div>
