.container {
height: 500px;
width: 60%;
margin: auto;
}
.title {
  //color: white;
  font-size: xx-large;
  font-family: cursive;
  margin: 24px;
}

.title2{
  display: block;
  margin: 24px;
  font-size: x-large;
  font-family: cursive;
 // color: white;
}

.title-q {
  display: inline;
  font-size: large;
  font-family: cursive;

  color: blueviolet;
  font-weight: 700;
}

.question-box {
  background-color: white;
    border-radius: 12px;
    padding: 32px;
}
