<header>
    <mat-toolbar class="shadow bg-white">

        <div class="d-flex p-4 container">
            <div class="flex-fill ms-4">
                Apply Visa
            </div>
            <button type="button" class="btn btn-outline-primary me-3">Login</button>
            <button type="button" class="btn btn-outline-primary">Register</button>
        </div>
    </mat-toolbar>
</header>


<main [@routeAnimations]="prepareRoute(outlet)" class="content p-3">
    <router-outlet #outlet="outlet"></router-outlet>
</main>