<div mat-dialog-title> Accept Application and Assign Laywer(s)

</div>

<div mat-dialog-content class="p-4">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Lawyer</mat-label>
            <mat-select [(ngModel)]="selectedLaywer">
                <mat-option value="">
                    Select a Lawyer...
                </mat-option>
                <mat-option *ngFor="let l of lawyers" [value]="l">
                    {{l.fullName}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <button mat-raised-button color="primary" class="mx-2" (click)="addItem()">
            <mat-icon class="me-1 icon-click">add</mat-icon>
            Add Lawyer
        </button>
    </div>

    <mat-divider></mat-divider>
    <mat-card *ngFor="let pl of personLawyer" class="mt-2">
        <div class="d-flex">
            <h3 class="flex-fill">Lawyer: <b>{{pl.lawyer.fullName}}</b></h3>
            <button mat-stroked-button (click)="deleteLawyer(pl)">
                <mat-icon class="me-1 text-danger ">delete</mat-icon>
                Remove
            </button>
        </div>
        <div *ngFor="let c of pl.conditions">
            <mat-checkbox [(ngModel)]="c.isSelected"> {{c.title}}</mat-checkbox>
        </div>
    </mat-card>




</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</div>